*{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#agregar{
    position: absolute;
    margin-top: 15vw;
    margin-left: 0.4vw;
    padding: 2vw;
    border-radius: 2vw;
}

#boton {
    margin-top: 8vw;
    padding: 2vw;
    border-radius: 2vw;
}